/* .container {
    position: relative;
    width: 800px;
    height: 600px;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(140, 140, 140);
    color: black;
    z-index: 1; 
    overflow: hidden;
}*/
/*
.front {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 2;
    background-color: transparent;
}

#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(163, 53, 53, 0.5);
    z-index: 2;
    cursor: pointer;
  }*/

/* .geeks {
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 250px;
    width: 500px;
    background-color: rgb(122, 122, 122);
      font-size: 20px;
}

.gfg1 {
    margin-top: 80px;
    color: white;
    font-size: 40px;
    font-weight: bold;
} */

/* .gfg1:hover {
    z-index: -1;
    opacity: 0.5;
    font-size: 20px;
    text-align: center;
    transform-style: all;
    transition-duration: 1s;
}

.gfg2:hover {
    z-index: -1;
    font-size: 40px;
    text-align: center;
    transform-style: all;
    transition-duration: 1s;
} */ 